* {
    margin: 0;
  }

#logo{
    border:2px solid white;
    border-radius: 60px;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;  
    background-color:#3A28A7;
}

header img{
    margin-right:0px;  
    height: 110px;
}

header h1 {
    color:aliceblue;
    margin: 20px;;
    font-size: 3em;
   
}

body {
    background-color:#5e44f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;

}

footer{
    display: flex;
    align-items: center;
    padding: 30px;  
    margin-top: 60px;
    background-color: #3A28A7;
    height:90px;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.hidden{
    display:none;
}

#footer_text{
    white-space: pre-line;
    line-height: 1.6;
    padding:10px 0;
    font-size: 15px;
    color:aliceblue
}
#titles{
    text-align: center;
    color: aliceblue;
    padding: 10px;
}

#question_options{
    height:250px;
    width:1000px;
    margin-left: 150px;
}
#question_box{
    border: 10px solid #3A28A7;
    border-radius: 10px;
    background-color: #3A28A7;
    margin-left: 20px;
    color: aliceblue;
}
#options{
    color: aliceblue;
    border:10px solid #3A28A7;
    border-radius: 10px;
    background-color: #3A28A7;
    margin-top: 10px;
    margin-left: 20px;
}
#navigation_btns{
    text-align: center;
    height: 30px;
    margin-top: 10px;
    margin-left: 475px;
    margin-right: 475px;
}

#back_btn{
    font-weight: bold;
    float: left;
    height:33px;
    color: white;
    background-color:#3A28A7;
    border: 10px solid #3A28A7;
    border-radius: 5px;
    cursor:pointer;

}
#next_btn{
    font-weight: bold;
    float: right;
    height:33px;
    color: white;
    background-color:#3A28A7;
    border: 10px solid #3A28A7;
    border-radius: 5px;
    cursor:pointer;
}
#home{
    text-align: center;
    margin-left: 640px;
    font-weight: bold;
    height:33px;
    color: white;
    background-color:#3A28A7;
    border: 10px solid #3A28A7;
    border-radius: 5px;
    cursor:pointer;
}

#logo{
    border:2px solid white;
    border-radius: 60px;
}
