* {
    margin: 0;
  }

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;  
    background-color:#3A28A7;
}

header img{
    margin-right:0px;  
    height: 110px;
}

header h1 {
    color:aliceblue;
    margin: 20px;;
    font-size: 3em;
   
}

body {
    background-color:#5e44f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    align-items: center;
    padding: 30px;  
    margin-top: 60px;
    background-color: #3A28A7;
    height:90px;
}
.hidden{
    display:none;
}

#score_container{
    height:60px;
    width:300px;
    background-color:aliceblue;
    border: 2px solid white;
    border-radius: 10px;
}
#score_bar{
    height:20px;
    width:280px;
    background-color:#8573ed;
    border: 2px solid white;
    border-radius: 10px;
}
#inner_score_bar{
    margin-left: 3px;
    margin-top: 3px;
    height:10px;
    max-width:270px;
    width:80%;
    background-color:#3A28A7;
    border: 2px solid #3A28A7 ;
    border-radius: 10px;
}
#percentage{
    margin-top: 4px;
    text-align:right;
}
#score{
    margin-left: 5px;
}