* {
    margin: 0;
  }

#logo{
    border:2px solid white;
    border-radius: 60px;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;  
    background-color:#3A28A7;
}

header img{
    margin-right:0px;  
    height: 110px;
}

header h1 {
    color:aliceblue;
    margin: 20px;;
    font-size: 3em;
   
}

body {
    background-color:#5e44f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



footer{
    display: flex;
    align-items: center;
    padding: 30px;  
    margin-top: 60px;
    background-color: #3A28A7;
    height:90px;
}

#footer_text{
    white-space: pre-line;
    line-height: 1.6;
    padding:10px 0;
    font-size: 15px;
    color:aliceblue
}

#titles{
    text-align: center;
    color: aliceblue;
    padding: 10px;
}
#buttons{
    display:grid;
    place-items:centre;
    height:250px;
    
}
.btn{
    padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 500px;
  margin-right: 500px;
  color: white;
    background-color:#3A28A7;
    border: 4px solid #3A28A7;
    border-radius: 5px;
}

#page_shifter{
    text-align: center;
    
    height: 30px;
    margin-left: 475px;
    margin-right: 475px;
}
#start_btn{
    float: right;
    height:33px;
    width:60px;
    color: white;
    background-color:#3A28A7;
    border: 4px solid #3A28A7;
    border-radius: 5px;
    cursor:pointer;
}
#page2_backbtn{
    float:left;
    color:white;
    border: 4px solid #3A28A7;
    border-radius: 5px;
    height:25px;
    width:60px;
    background-color: #3A28A7;
    
}